@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

nav {
    flex: 1;
    position: fixed;
    width: 100%;
    background-color: #7C9885;
    z-index: 1;
    top: 0;
    left: 0;
    color: #FEDC97;
}

.nav {
    display: flex;
    padding: 20px 0;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    box-shadow: 1px 1px 1px .3px #CECECE;
    width: 100%;
}

.h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 26px;
    font-weight: bold;
    padding-left: 10px;
    letter-spacing: -3px;
    flex: 1;
    max-width: 30vw;
    transition: 250ms all;
}


.links {
    flex: 2;
    max-width: 30vw;
    align-items: center;
    font-size: 24px;
    display: flex;
}

.link {
    flex: 1;
}

a {
    text-decoration: none;
    color: #FEDC97;
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
}
@media (max-width: 500px) {
    nav {
        width: 98%;
    }
    .logo {
        max-width: 50%;
    }
    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 50vw;
    }
    .link {
        padding: 3px;
    }
}